.c-btn {
  background-color: transparent;
  border-radius: rem(10px);
  outline: none;
  border: none;
  height: rem(50px);
  text-transform: capitalize;
  cursor: pointer;

  &--theme {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: rem(10px);

    span {
      color: var(--txt-high-contrast);
    }
  }

  &--primary {
    color: #fff;
    min-width: rem(106px);
    background-color: var(--primary);
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    @media (max-width: 568px) {
      min-width: rem(84px);
      height: rem(46px);
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: var(--primary-hover);
    }

    &:disabled {
      filter: brightness(50%);
      cursor: not-allowed;
    }
  }
}
