.c-social-media {
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 18px;
  row-gap: 18px;

  @media (max-width: 568px) {
    display: block;
  }
  
  &__item {
    list-style: none;

    @media (max-width: 568px) {
      &:not(:last-child) {
        margin-bottom: rem(16px);
      }
    }
    
    a {
      color: var(--color-gray-300);
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover {
        color: var(--color-blue);
        transition: all 0.3s ease-in-out;
      }
    }

    img {
      margin-right: rem(17px);
    }
  }
}