.c-user {
  padding-bottom: rem(30px);
  display: flex;
  align-items: center;
  position: relative;

  &__picture {
    @include squares(117px);
    display: block;
    border-radius: 50%;
    margin-right: rem(37px);

    @media (max-width: 568px) {
      @include squares(70px);
    }
  }

  &__name {
    display: inline-block;
    font-size: rem(26px);
    color: var(--text-high-contrast);
    font-weight: 700;
    line-height: rem(38.5px);
    margin-bottom: rem(5px);

    @media (max-width: 568px) {
      line-height: 0;
      font-size: rem(16px);
      margin-bottom: 0;
    }
  }

  &__date {
    position: absolute;
    right: 0;
    top: rem(10px);
    color: var(--txt-low-contrast);
    display: inline-block;
    font-size: rem(15px);
    margin-left: auto;

    @media (max-width: 568px) {
      font-size: rem(13px);
      position: static;
      display: block;
    }
  }

  &__id {
    color: var(--primary);
    display: block;
    margin-bottom: rem(25px);

    @media (max-width: 568px) {
      font-size: rem(13px);
      margin-bottom: 0;
    }
    
    a {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__bio {
    color: var(--txt-mid-contrast);
    font-size: rem(15px);
    mix-blend-mode: normal;
    opacity: 0.75;
    padding-bottom: rem(30px);
  }
}
