body.dark-theme {
 @include dark-mode;
}

@media (prefers-color-scheme: dark) {
  body {
   @include dark-mode;
  }
}

@media (prefers-color-scheme: light) {
  body {
   /* Lightmode */
  --primary: #0079ff;
  --primary-hover: #60abff;

  --txt-high-contrast: #2b3442;
  --txt-mid-contrast: #4b6a9b;
  --txt-low-contrast: #697c9a;

  --dark: #222731;

  --bg: #f6f8ff;
  --bg-secondary: #fefefe;

  --theme-switch-btn-hover: #222731;

  /* Neutral */
  --error: #f74646;
  }
}

.hidden {
  display: none;
}
