@mixin margin-x($value) {
  margin-inline: $value
}

@mixin margin-y($value) {
  margin-block: $value
}

@mixin padding-x($value) {
  padding-inline: $value
}

@mixin padding-y($value) {
  padding-block: $value
}

@mixin squares($size) {
  height: $size;
  width: $size;
}

@mixin centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dark-mode {
  @include centralized;
  background-color: var(--bg);

  --primary: #0079ff;
  --primary-hover: #60abff;

  --txt-high-contrast: #fff;
  --txt-mid-contrast: #ffff;
  --txt-low-contrast: #fff;

  --txt-search: #fff;
  --txt-search-placeholder: #fff;

  --bg: #141d2f;
  --bg-secondary: #1e2a47;

  --theme-switch-btn-hover: #90a4d4;

  --error: #f74646;
}
