.c-btn {
  background-color: transparent;
  border-radius: rem(10px);
  color: var(--color-white);
  outline: none;
  border: none;
  height: rem(50px);
  text-transform: capitalize;
  cursor: pointer;

  &--primary {
    min-width: rem(106px);
    background-color: var(--color-blue);
    font-weight: 700;
  }
}