.c-stats {
  @include padding-y(15px);
  border-radius: rem(10px);
  list-style: none;
  background-color: var(--color-bg);
  display: flex;
  max-width: rem(480px);
  justify-content: space-evenly;
  margin-left: auto;
  width: 100%;
  margin-bottom: rem(37px);

  &__item {
    text-align: center;

    span {
      color: var(--color-gray-300);
      mix-blend-mode: normal;
      opacity: 0.75;
      display: inline-block;
      font-size: rem(13px);
      margin-bottom: rem(10px);
    }
  }

  &__title {
    color: var(--color-primary);
  }
}