.c-form {
  @include padding-x(10px);
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  box-shadow: 0 16px 30px -10px rgb(70 96 187 / 20%);
  border-radius: rem(15px);
  height: rem(69px);
  margin-bottom: rem(24px);
  transition: ease-in-out all .2s;

  &:focus-within {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 20px 35px 5px rgb(70 96 187 / 20%);
  }

  &:hover .c-form__picture {
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
  }
  
  &__picture {
    @include padding-x(24px);
    transition: all .3s ease-in-out;

    @media (max-width: 568px) {
      @include padding-x(0);
      padding-right: rem(10px);
    }
  }

  .c-input {
    background-color: transparent;
    color: var(--txt-mid-contrast);
    border: none;
    height: 100%;
    font-size: rem(18px);
    width: calc(100% - 140px);

    @media (max-width: 568px) {
      width: calc(100% - 84px);
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: rem(18px);
      color: var(--txt-mid-contrast);

      @media (max-width: 568px) {
        font-size: rem(13px);
      }
    }
  }
}
