.c-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  &__title {
    color: #222731;
    font-size: rem(26px);
    font-weight: 700;
    line-height: 38.51px;
  }

  &-theme-switch-btn {
    display: flex;
    align-items: center;

    &:hover span,
     .header-theme-icon {
      color: var(--theme-switch-btn-hover);
    }

    span {
      color: var(--txt-low-contrast);
      font-size: rem(13px);
      font-weight: 700;
      line-height: rem(19.25px);
      margin-right: rem(16px);
      text-transform: uppercase;
    }
  }
}