body {
  background-color: var(--color-bg                     );
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  box-shadow: 0 16px 30px -10px rgb(70 96 187 / 20%);
}

.container {
  background-color: var(--color-white);
  width: 730px;
}
