//LIGHT MODE COLORS
body {
  --color-primary: #2B3442;
  --color-blue: #0079ff;
  --color-gray-400: #697c9a;
  --color-gray-300: #4b6a9b;
  --color-bg: #f6f8ff;
  --color-white: #fefefe;
}


$container-max-width: 730px;

