.heading {
  &__primary {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.9rem;
    letter-spacing: 0;
    color: var(--color-primary);
  }
}

.text {
  letter-spacing: 0;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;

  &__name {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.851rem;
    color: #2B3442;
  }

  &__username {
    line-height: 2.37rem;
    color: #0079FF;
  }

  &__bio {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #4B6A9B;
  }

  &__join-date {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.22rem;
  }
}
